http://127.0.0.1:15182

encode gzip zstd

header {
  X-Content-Type-Options "nosniff"
  X-Frame-Options "DENY"
  Referrer-Policy "strict-origin-when-cross-origin"
}

handle /api/* {
  reverse_proxy 127.0.0.1:18002
}

handle {
  root * /srv
  try_files {path} /index.html
  file_server
}
